body {
  background-image: url("BG1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: small;
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: #ffffff;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  margin: 15px 0;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #2980b9;
}
